<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>

     <h1>Activities</h1>
     <% @activities.each do |activity| %>

        <div class = "card-white">
      	  <img src="img url" alt="img_act">
            <p> <%= activity["name"] %>
            <p><%= activity["img url"] %></p>
            <p><%= activity["category"] %></p>
            <p><%= activity["city"] %></p>
            <p><%= activity["duration"] %></p>
            <p><%= activity["number of participants"] %></p>
            <p><%= activity["price (in EUR)"] %></p>

        <% end %>
        </div>
  </body>
</html>
