<!DOCTYPE html>
<html>
  <head>
    <title>Giloo_Team Building</title>
    <meta name="description" content="Giloo_Team building activities">
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/1c8ebe869a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <div class="banner">
      <div class="container">
        <h1>Giloo's Team building activities</h1>
        <p>develop your collective intelligence</p>
      </div>
    </div>

    <div class="cards">
      <% @activities.each do |activity| %>
        <div class="card">
          <div class="cardheader">
            <h1><%= activity["name"] %></h1>
            <p class="category"><%= activity["category"] %></p>
          </div>
          <div class="activity-picture" style="background-image: url('<%= activity["img"] %>')"></div>
          <div>
            <ul class="list-inline">
              <li><%= activity["city"] %></li>
              <li><%= activity["price"] %></li>
            </ul>
          </div>
          <div class="position">
            <ul class="list-vertical">
              <li><i class="fas fa-user-friends"></i><%= activity["number of participants"] %></li>
              <li><i class="fas fa-hourglass-half"></i><%= activity["duration"] %></li>
            </ul>
            <a href="#" class="btn-orange">Let's play</a>
          </div>
        </div>
      <%end%>

    </div>
  </body>
 </html>
